<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        {% block title %}
        {% endblock %}
    </title>
  </head>
  <body>
      <!--Navbar Here-->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://media1.thehungryjpeg.com/thumbs2/ori_3656714_3etd3oh0w1mtjqnx8xcidud34zrgk4erpvvozvm2_monogram-fc-logo-design.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            FreeCom
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home_page')}}">&nbsp &nbsp Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('price')}}">Product Search</a>
              </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('product')}}">Product Comparison</a>
            </li>
            
            <li class="nav-item">
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  QR-Code Based
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{url_for('qr_disp')}}">Authentication</a>
                  <a class="dropdown-item" href="{{url_for('qrComp_disp')}}">Comparison</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('redeem')}}">Redeem Code</a>
            </li>

          </li>
        </li>
        
        </ul>
        </div>
        {% block search %}
        {% endblock %}
      </nav>
      
      <!--Future content here-->
     {% block content %}
     {% endblock %}

        
    <!-- Optional JavaScript -->
     <!-- Loading Screen -->
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
<style>  nav li {
  display: inline-block;
  padding-right: 30px;
}</style>
{% block style %}
{% endblock %} 
</html>
